@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 96%;
    --foreground: 20 14% 4%;
    --card: 40 50% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 40 50% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 25 80% 60%;
    --primary-foreground: 20 14% 4%;
    --secondary: 40 33% 92%;
    --secondary-foreground: 20 14% 4%;
    --muted: 40 33% 92%;
    --muted-foreground: 20 8% 40%;
    --accent: 150 25% 60%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 40 20% 88%;
    --input: 40 20% 88%;
    --ring: 25 80% 60%;
    --chart-1: 25 80% 60%;
    --chart-2: 150 25% 60%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 0 84.2% 60.2%;
    --radius: 0.75rem;
    --sidebar-background: 40 33% 92%;
    --sidebar-foreground: 20 14% 4%;
    --sidebar-primary: 25 80% 60%;
    --sidebar-primary-foreground: 20 14% 4%;
    --sidebar-accent: 40 20% 88%;
    --sidebar-accent-foreground: 20 14% 4%;
    --sidebar-border: 40 20% 80%;
    --sidebar-ring: 25 80% 60%;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 40 20% 98%;
    --card: 20 14% 6%;
    --card-foreground: 40 20% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 40 20% 98%;
    --primary: 25 70% 55%;
    --primary-foreground: 20 14% 4%;
    --secondary: 20 14% 10%;
    --secondary-foreground: 40 20% 98%;
    --muted: 20 14% 10%;
    --muted-foreground: 20 8% 60%;
    --accent: 150 20% 55%;
    --accent-foreground: 40 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 25 70% 55%;
    --chart-1: 25 70% 55%;
    --chart-2: 150 20% 55%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 0 62.8% 30.6%;
    --sidebar-background: 20 14% 6%;
    --sidebar-foreground: 40 20% 98%;
    --sidebar-primary: 25 70% 55%;
    --sidebar-primary-foreground: 20 14% 4%;
    --sidebar-accent: 20 14% 12%;
    --sidebar-accent-foreground: 40 20% 98%;
    --sidebar-border: 20 14% 15%;
    --sidebar-ring: 25 70% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
